/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.profile-card--avatar {
    display: inline-block;
    position: relative;
}
.profile-verification-badge {
    position: absolute;
    right: 0;
    top: 67%;
}
.profile {
    max-width: 600px;
    margin: 0 auto;
    background-color: #121212;
    border-radius: 10px;
    padding: 20px;
}

.header {
    margin-bottom: 20px;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

p {
    margin: 5px 0;
    font-size: 16px;
}



.music-player {
    margin: 20px 0;
}
.socials a{
    font-size: 1.7em;
    padding: 8px;
    margin-left: 5px;
    transition: 0.5s ease;

}
.socials a:hover{
    font-size: 1.5em;
}

.links a {
    display: block;
    background-color: #333;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.links a:hover {
    background-color: #000000;
}

/* Responsive */
@media (max-width: 768px) {
    .profile {
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .profile-img {
        width: 80px;
        height: 80px;
    }

    .social-icons a img {
        width: 25px;
    }

    .links a {
        padding: 8px;
    }
}
audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}


.player-container,
.player-container1 {
    background-color: rgb(56 62 76 / 14%);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-bottom: -8px;
    max-width: 300px;

}
audio
{
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-box-shadow: 2px 2px 4px 0px #006773;
-webkit-box-shadow:  2px 2px 4px 0px #006773;
box-shadow: 2px 2px 4px 0px #006773;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
}